.cardImage   {
    width: 200px;
    height: 200px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
     margin-right: auto;
}

.cardBody {
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    border: 5px solid #D02F8F;
    margin-top: 10px;
    padding-bottom: 10px;
}

.cardBody:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}

p {
    font-family: 'Courier New', Courier, monospace;
}